<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>LOGIN</h1>
  <p><i>e.g. 1526403</i></h6>
  <form method="post">
    <input type="text" name="student_id" pattern="\d{7}" maxlength="7" placeholder="student id">
    <button>
      login
    </button>
  </form>

  <h2>Instructions:</h2>
  <p>1. Enter your AUSD student ID.<br>
2. Go to <a href="https://gmail.com">your student gmail</a>.<br>
3. An email will be sent to you with a link to a form.<br>
    
</body>
</html>
