@font-face {
  font-family: 'open_sansregular';
  src: url('/assets/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
 font-family: "Helvetica";
 font-size: 30px;
}

p {

}